<!DOCTYPE html>
<html lang="en">
<head>

    <title>Admin</title>
</head>

<body>

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">GRE CHAMP</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/user/{{model.userId}}/verbal">Verbal Section</a></li>
                                <li><a href="#/user/{{model.userId}}/quant">Quant Section</a></li>
                                <li><a href="#/user/{{model.userId}}/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a class="glyphicon glyphicon-king">Admin</a></li>
                        <li><a href="#/user/{{model.userId}}">Welcome {{model.name}}</a></li>
                        <li><a ng-click="model.logout()"><button type="button" class="btn btn-sm btn-primary">Logout</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div style="background-color: #66afe9">

    <div class="container" >

        <div class="grid_13">

<h1 class="page-header">Admin</h1>
<h2>Users</h2>
<div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="col-xs-3" ng-click="model.sortType='username'; model.sortReverse = !model.sortReverse">
                        <span ng-show="model.sortType == 'username'">
                            <span ng-show="!model.sortReverse" class="glyphicon glyphicon-triangle-top"
                                  aria-hidden="true"></span>
                            <span ng-show="model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span></span>
                Username
            </th>
            <th class="col-xs-3">Password</th>
            <th class="col-xs-3" ng-click="model.sortType='firstName'; model.sortReverse = !model.sortReverse">
                        <span ng-show="model.sortType == 'firstName'">
                            <span ng-show="!model.sortReverse" class="glyphicon glyphicon-triangle-top"
                                  aria-hidden="true"></span>
                            <span ng-show="model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span></span>First
                Name
            </th>
            <th class="col-xs-3" ng-click="model.sortType='lastName'; model.sortReverse = !model.sortReverse">
                        <span ng-show="model.sortType == 'lastName'">
                            <span ng-show="!model.sortReverse" class="glyphicon glyphicon-triangle-top"
                                  aria-hidden="true"></span>
                            <span ng-show="model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span></span>
                Last Name
            </th>
            <th class="col-xs-3">Roles</th>
            <th class="col-xs-3">Actions</th>
        </tr>
        <tr>
            <th>
                <input class="form-control" type="text" name="usrname" placeholder="username"
                       ng-model="model.username">
            </th>
            <th>
                <input class="form-control" type="password" name="passwd" placeholder="password"
                       ng-model="model.password">
            </th>
            <th>
                <input class="form-control" type="text" name="fname" placeholder="first name"
                       ng-model="model.firstName">
            </th>
            <th>
                <input class="form-control" type="text" name="lname" placeholder="last name"
                       ng-model="model.lastName">
            </th>
            <th>
                <input class="form-control" type="text" name="role" placeholder="role1,role2"
                       ng-model="model.roles">
            </th>
            <th>
                <a href="">
                    <span class="glyphicon glyphicon-plus incrsize" ng-click="model.add(model)"></span>
                </a>&nbsp;&nbsp;
                <a href=""><span class="glyphicon glyphicon-ok incrsize" ng-click="model.update(model)"></span>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in model.users | orderBy:model.sortType:model.sortReverse">
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.roles}}</td>
            <td>
                <a href="">
                    <span class="glyphicon glyphicon-remove incrsize"
                          ng-click="model.remove(user, $index)"></span>
                </a>&nbsp;&nbsp;
                <a href="">
                    <span class="glyphicon glyphicon-cog incrsize" ng-click="model.select(user)"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>

</body>
</html>