<html>
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <meta content="OWk3iXQ2viqADNnKvXc7oWmZXkA4CN2fsCK0vMgoQs4" name="google-site-verification">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
    <link href="https://gre.magoosh.com/" rel="canonical">
    <meta content="authenticity_token" name="csrf-param">
    <meta content="lfuEukDtUqGEl0dxMZV+Gv/EvKX7fDoSdMQ0cWH0QxY=" name="csrf-token">

    <meta content="https://gre.magoosh.com/" property="og:url">
    <meta content="http://dxdo2x6i0ocgk.cloudfront.net/static_pages/51/open_graph_images/originals.png?1447963466" property="og:image">
    <meta content="Magoosh Online GRE Prep" property="og:title">
    <meta content="Improve your GRE score with over a thousand online practice questions, lesson videos, friendly support and more! :)" property="og:description">
    <meta content="Improve your GRE score with over a thousand online practice questions, lesson videos, friendly support and more! :)" name="description">
    <meta content="gre prep, gre videos, gre math, gre verbal, gre vocabulary, gre practice questions, gre exams, revised gre, new gre, new exam, revised exam" name="keywords">
    <link href="//d3hshz20ujols3.cloudfront.net/assets/smart_marketing-2fd66b3a224c2ee3db716a16142d6902.css" media="screen" rel="stylesheet" type="text/css">
    <title>
        Magoosh GRE - Online GRE Prep and Practice Questions with Video Tutorials
    </title>
    <style type="text/css"></style><script type="text/javascript" async="" src="https://cdn.siftscience.com/s.js"></script><script async="true" type="text/javascript" src="https://sslwidget.criteo.com/event?a=22195&amp;v=3.6.1&amp;p0=e%3Dexd%26site_type%3Dd&amp;p1=e%3Dvp%26p%3D%255B92%252C93%252C176%255D&amp;p2=e%3Dvh&amp;p3=e%3Dexd%26ref%3Dhttp%253A%252F%252Fmagoosh.com&amp;p4=e%3Ddis&amp;adce=1" data-owner="criteo-tag"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><style type="text/css" id="ki-n_m-ng"></style><style type="text/css" id="ki-n_m-nr"></style></head>
<body class="u-margin-T-xl u-padding-T-xxs">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="#app-navbar-collapse" data-toggle="collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a alt="Magoosh Logo" class="navbar-brand" href="/" title="">
                Magoosh
                <!-- / Easter Egg -->

            </a>
        </div>
        <div class="navbar-collapse collapse" id="app-navbar-collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav" role="navigation">
                <!-- Logged out users see these links in the navbar -->
                <li><a href="http://gre.magoosh.com/testimonials">Testimonials</a></li>
                <li><a href="http://gre.magoosh.com/score-guarantee">Score Guarantee</a></li>
                <li><a href="/study-plans">Study Plans</a></li>
                <li><a href="http://magoosh.com/gre">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" role="navigation">
                <li><a href="https://gre.magoosh.com/login">Log in</a></li>
                <li><a href="/plans" class="btn navbar-btn btn-primary">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>

<style type="text/css">
    /* Apply brand coloring to semi-major heading tags */
    h2, h3, h4 {
        color: #26B67C;
        font-weight: bold;
    }
    h2 {text-align:center;}

    @media (min-width: 991px) {
        .down-30 {
            transform: translateY(30%);
        }
        .down-20 {
            transform: translateY(20%);
        }
    }

    @media (max-width: 991px) {
        .sm-white-text {
            color: white;
        }
    }

</style>


<!--hero start-->

<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6 u-padding-T-l">
                <h1>
                    <strong>Get the GRE<sup><small class="text-white">®</small></sup> Score <br>You Want</strong>
                </h1>
                <p class="hero-tagline">
                    Improve your score by at least 5 points<sup>*</sup>. <br>Learn it the easy way.
                    <br>
                </p>
                <p class="u-padding-T-xs">
                    <a class="btn btn-primary" href="/plans">Try it now</a>
                </p>
                <p>
                    <small>* 100 points on the old scale</small>
                </p>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 text-center u-padding-T-m">
                <img height="352" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/571/assets/originals.png?1427943053" width="555" alt="Magoosh GRE product">
            </div>
        </div>
    </div>
</div>

<!--hero end -->

<!--test prep should be start-->

<div class="container u-margin-T-l">
    <h2 style="margin-bottom: 20px;">
        The GRE prep everyone is talking about
    </h2>

    <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-4">
            <h3 style="text-align: center;">
                Accessible
            </h3>
            <img style="display:block;margin:0 auto;" width="200px" alt="accessible" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/2077/assets/originals.png?1459467631">
            <ul>
                <li>Study anywhere, anytime on desktop or mobile</li>
                <li>Email assistance whenever you get stuck</li>
                <li>Fully supported on PC, Mac, Android, and iOS</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3 style="text-align: center;">
                Effective
            </h3>
            <img style="display:block;margin:0 auto;" width="200px" alt="effective" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/2078/assets/originals.png?1459467828">
            <ul>
                <li>Magoosh students score an average of 6 points higher in <i>each section</i> than all other GRE takers</li>
                <li>Top-quality study materials continually updated based on millions of students’ answers</li>
                <li>Smart feedback and progress tracking to turn your weaknesses into strengths</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3 style="text-align: center;">
                Designed to wow
            </h3>
            <img style="display:block;margin:0 auto;" width="200px" alt="best value" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/2079/assets/originals.png?1459467878">
            <ul>
                <li><b>Unbeatable price in test prep</b>: ¼ the price of competitors</li>
                <li><b>Most ambitious score improvement guarantee</b>: +5 score or your money back</li>
                <li>Students love Magoosh: just read our <a href="/testimonials"> testimonial page</a>, or ask your friends about us!</li>
            </ul>
        </div>
    </div>
</div>

<!-- test prep should be end-->

<!-- learn easy -->

<div class="gray-background-wrap" style="background-color:#F2F2F2;padding-top:5px;padding-bottom:40px;">
    <div class="container u-margin-T-l">
        <h2>It is simple to learn everything you need to know </h2>
        <div class="col-md-4">
            <h3 style="text-align: center;color: #404042;">200 lessons</h3>
        </div>

        <div class="col-md-4">
            <h3 style="text-align: center;color: #404042;">1000 questions</h3>
        </div>

        <div class="col-md-4">
            <h3 style="text-align: center;color: #404042;">Full-length tests</h3>
        </div>
    </div>
</div>

<div class="row u-margin-T-l" style="background-color:#26B67C; margin-top: 0px;">
    <div class="container">
        <div class="col-md-6 down-30">
            <h3 style="color:white">Prep with only top-quality materials</h3>
            <p style="color:  white;">
                We’re here to help you improve as fast as possible. With Magoosh, you’ll always be studying with the <strong style="color: #B3FFC5;">most updated, tried-and-tested materials, based on careful analysis of millions of students’ answers</strong>. We don’t overwhelm you with questions; we make every question count!
                <br><br>
                You can also take notes, bookmark, read transcripts, and give us feedback. We give you everything you need to make studying a breeze.
            </p>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <img alt="prep with trusted materials" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/2080/assets/originals.png?1459467941">
        </div>
    </div>
</div>


<div class="row u-margin-T-l" style="margin-top: 0px;height: 400px;">
    <div class="container">
        <div class="col-md-5" style="position: absolute;left: 0; height: 400px; padding-left: 0px;">
            <img class="hidden-md-down" style="float: left; height:100%; width:auto;" alt="study schedules" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/1238/assets/originals.jpg?1443554604">
        </div>
        <div class="col-md-5 col-md-offset-6 u-margin-T-l down-30">
            <h3 style="color:#4b504e;">Follow our targeted study schedules</h3>
            <p>We make it easy for you to figure out where to start studying, and to stay motivated until test day. <strong>Our 11 carefully crafted study schedules accommodate varying study times and skills </strong>, so you'll always know the best way to study.</p>
        </div>
    </div>
</div>


<div class="row u-margin-T-l" style="background-color:#F2F2F2; margin-top: 0px;height: 500px;">
    <div class="container">
        <div class="col-md-6 down-30">
            <h3 style="color:#4b504e;">Gain real test experience</h3>
            <p>
                Your practice experience will be as close to the real exam as possible. We maintain the highest question standards and have developed <strong>adaptive technology that simulates the official GRE</strong>.
                <br><br>
                Create <strong>customized practice sessions</strong> to drill yourself on specific subjects and difficulty levels. If you get stuck on anything, read our detailed text explanation, or watch the video tutorials that follow each and every question.
            </p>
        </div>
        <div class="col-md-6" style="position: absolute;right: 0;height: 450px;padding-right: 0px;">
            <img class="hidden-md-down" style="float: right;" width="600px" alt="gain real test experience" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/2081/assets/originals.png?1459468029">
        </div>
    </div>
</div>

<div class="row u-margin-T-l" style="margin-top: 0px;height: 400px; background-color:#009573;">
    <div class="container">
        <div class="col-md-5" style="position: absolute;left: 0; height: 400px; padding-left: 0px;">
            <img class="hidden-md-down" style="float: left; height:100%; width: auto;" alt="progress" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/2082/assets/originals.jpg?1459468076">
        </div>
        <div class="col-md-5 col-md-offset-6 u-margin-T-l down-20" style="color:white;">
            <h3 style="color:white">See yourself progress</h3>
            <p style="color:white">We help you keep track of your progress with an <strong style="color:#4DFFA6;">intuitive dashboard that estimates your score, compares your pace with other students, and tracks your learning</strong>.
                <br>
                <br>
                Our <strong style="color:#4DFFA6;">smart review system</strong> allows you to review your performance based on time, difficulty, subject, or according to your own bookmarks, so you’ll know exactly what to focus on next.
            </p>
        </div>
    </div>
</div>


<!-- call to action banner starting-->
<div class="bg-gray-lighter">
    <div class="container u-margin-T-m u-padding-V-l" style="margin-top: 0;">
        <div class="row">
            <div class="col-md-8">
                <h3>Try Magoosh with double guarantee</h3>
                <p>7-day money back guarantee if you don't like the product for any reason <br> 5 points score improvement guarantee</p>
            </div>

            <div class="col-md-4 u-margin-T-m">
                <a class="btn btn-primary btn-lg" href="/plans">Start your GRE prep today </a>
            </div>
        </div>
    </div>
</div>
<!-- call to action banner end -->

<!-- students love magoosh -->

<div class="container u-margin-T-xl u-padding-V-l">
    <h2>What students love most about Magoosh</h2>
    <div class="row">
        <div class="col-md-4 u-padding-V-m" style="text-align:center">
            <!-- Magoosh GRE video testimonials: Elanore P-->
            <iframe width="340" height="315" src="https://www.youtube.com/embed/M80YBhD6xPE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>

            <blockquote>"Magoosh was actually in my price range."</blockquote>
        </div>

        <div class="col-md-4 u-padding-V-m" style="text-align:center">
            <!-- Magoosh GRE video testimonials: Jeff F -->
            <iframe width="340" height="315" src="https://www.youtube.com/embed/4agxVH0cGzQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
            <blockquote>"It looks just like the real test."</blockquote>
        </div>


        <div class="col-md-4 u-padding-V-m" style="text-align:center">
            <!-- Magoosh GRE video testimonials: Patrick S -->
            <iframe width="340" height="315" src="https://www.youtube.com/embed/wVSAlsVBW_o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
            <blockquote>"You get to see exactly where you went wrong."</blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 u-padding-V-m" style="text-align:center">
            <!-- Magoosh GRE video testimonials: Keshav S -->
            <iframe width="340" height="315" src="https://www.youtube.com/embed/tCYkxswE3ls?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
            <blockquote>"You get to see all types of questions in the practice test before you actully face them in GRE."</blockquote>
        </div>

        <div class="col-md-4 u-padding-V-m" style="text-align:center">
            <!-- Magoosh GRE video testimonials: Genevieve B -->
            <iframe width="340" height="315" src="https://www.youtube.com/embed/Wr51tYjbls8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
            <blockquote>"You really need to get in the heads of test makers, and these video explanations help you do that."</blockquote>
        </div>


        <div class="col-md-4 u-padding-V-m" style="text-align:center">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/nc1ZR0y-ORo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
            <blockquote>"The way they introduced concepts was very interesting, and they honestly made studying for the GRE kind of fun."</blockquote>
        </div>
    </div>
</div>


<!-- results matter start -->
<div class="row u-margin-T-l" style="margin-top: 30px;">
    <div class="container">
        <div class="col-md-6 down-30">
            <h3 style="color:#4b504e;">Score 6 points higher in both verbal and math</h3>
            <p>Magoosh students report a median score of 157 for verbal and 159 for math. That’s 6 points higher in each section than the median scores of all GRE takers.
                <br><br>
                In addition, <b>20% of our students earn a top 10% score in GRE</b>. There are even 18 Magoosh alumni who got a perfect score. Let’s get you one step closer to that acceptance letter!
            </p>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <img alt="prep with trusted materials" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/2083/assets/originals.png?1459468129" style="width: 430px;display: block;margin: 40px auto 0px;">
        </div>
    </div>
</div>
<!-- results matter end -->


<!-- student success start-->
<div class="container u-margin-T-l" style="margin-top: 60px;">
    <h2>Nothing makes us happier than students’ success</h2>
    <div class="row u-margin-T-m">

        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-3" style="text-align:center">
                    <img alt="177" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/2085/assets/originals.jpg?1459468682" width="113">
                </div>
                <div class="col-sm-8">
                    <blockquote>
                        "Magoosh was exactly what I needed to kickstart my GRE prep. The practice questions were incredibly addictive and the dashboard progress pie chart very encouraging. The quick turnaround time in email responses weas very appreciated. "
                    </blockquote>
                    <footer>
                        Jerilyn T, Math 170, Verbal 166
                    </footer>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-3" style="text-align:center">
                    <img alt="447" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/2084/assets/originals.png?1459468633" width="113">
                </div>
                <div class="col-sm-8">
                    <blockquote>
                        "The hard vocab in the practice problems really benefited me because on the actual test there was maybe one word I didn't know.  The video lessons and explanations were excellent. They cut to the chase and really just told me what I needed to know for the test."
                    </blockquote>
                    <footer>
                        David L, Math 166, Verbal 169
                    </footer>
                </div>
            </div>
        </div>

    </div>

    <div class="row u-margin-T-m u-margin-B-xl">

        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-3" style="text-align:center">
                    <img alt="4439" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/2086/assets/originals.jpeg?1459468732" width="113">
                </div>
                <div class="col-sm-8">
                    <blockquote>
                        "Magoosh taught me all the math concepts that I had forgotten, I could not have done it without Magoosh! The lessons are all super relevant to the test, and the practice problems are so helpful! Amazing!"
                        <br>
                    </blockquote>
                    <footer>
                        Hannah S, Math 163, Verbal 164
                    </footer>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-3" style="text-align:center">
                    <img alt="553" src="//dxdo2x6i0ocgk.cloudfront.net/attachments/2087/assets/originals.png?1459468776" width="113">
                </div>
                <div class="col-sm-8">
                    <blockquote>
                        “Magoosh served as the facilitator and organizer of my studying. The video explanations for each question were an amazing resource, leaving no instances of confusion. Everything you could imagine needing and more was here. Thanks!”
                    </blockquote>
                    <footer>
                        Ryan S, Math 160, Verbal 162
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- student success end-->

<!-- call to action banner starting-->
<div class="bg-gray-lighter">
    <div class="container u-margin-T-m u-padding-V-l" style="margin-top: 0px;">
        <div class="row">
            <div class="col-md-8">
                <h3>Proudly serving more than 1.5 million students</h3>
                <p>Zero risk: 7-day money back guarantee if you don't like the product for any reason
                    <br>
                    A lot of progress: +5 points improvement. Guaranteed!</p>
            </div>

            <div class="col-md-4 u-margin-T-m">
                <a class="btn btn-primary btn-lg" href="/plans">Start your GRE prep today </a>
            </div>
        </div>
    </div>
</div>
<!-- call to action banner end -->

<div class="container">
    <p class="text-center u-margin-V-xl">
        <img src="//s3.amazonaws.com/magoosh.static-images/gre_home/new_home-press.gif" width="694" height="76">
    </p>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 u-padding-T-xxs">
                <p class="lead">
                    <strong>Magoosh</strong> is a play on the Old Persian word
                    <em>magush</em>, one who is highly learned, wise and generous.
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 u-padding-V-xxs">
                <h5>Magoosh GRE</h5>
                <p>
                    <a href="/">Home</a>
                    <br>
                    <a href="/terms">Terms of Use</a>
                    <br>
                    <a href="/privacy">Privacy</a>
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 u-padding-V-xxs">
                <h5>Account</h5>
                <p>
                    <a href="/plans">Plans &amp; Pricing</a>
                    <br>
                    <a href="/login">Login</a>
                    <br>
                    <a href="/forgot_password">Forgot Password</a>
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 u-padding-V-xxs">
                <h5>Company</h5>
                <p>
                    <a href="http://magoosh.com/" target="_blank">Company Home</a>
                    <br>
                    <a href="http://magoosh.com/about/" target="_blank">About Us</a>
                    <br>
                    <a href="mailto:gre@magoosh.com">gre@magoosh.com</a>
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 u-padding-V-xxs">
                <h5>Follow Magoosh</h5>
                <p>
                    <a href="http://www.facebook.com/Magoosh" alt="Facebook"><i class="fa fa-facebook-official"></i>&nbsp; Facebook
                    </a><br>
                    <a href="http://twitter.com/magooshgre" alt="Twitter"><i class="fa fa-twitter"></i>&nbsp; Twitter
                    </a><br>
                    <a href="http://www.youtube.com/user/MagooshGRE" alt="YouTube"><i class="fa fa-youtube-play"></i>&nbsp; YouTube
                    </a><br>
                    <a href="http://magoosh.com/gre" alt="Blog"><i class="fa fa-mortar-board"></i> Blog
                    </a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-10 u-margin-T-xxs">
                <p>
                    <small>
                        GRE<sup>®</sup> is a registered trademark of Educational Testing Service (ETS). This website is not endorsed or approved by ETS.
                    </small>
                </p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 u-margin-T-xxs">
                <p>
                    <small>© 2015 Magoosh</small>
                </p>
            </div>
        </div>
    </div>
</footer>

<script async="" src="//www.google-analytics.com/analytics.js"></script><script src="https://secure.quantserve.com/aquant.js?a=p-JzNsSCWva-8EN" async="" type="text/javascript"></script><script type="text/javascript" async="" src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"></script><script async="" src="//connect.facebook.net/en_US/fbevents.js"></script><script type="text/javascript" async="" src="https://stats.g.doubleclick.net/dc.js"></script><script src="//d3hshz20ujols3.cloudfront.net/assets/smart_marketing-4755d0b5065447ce9df26922b679ca20.js" type="text/javascript"></script>
<!-- Google Code for Remarketing Tag -->
<div style="display: none;">
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1010316725;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script><iframe name="google_conversion_frame" title="Google conversion frame" width="300" height="13" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/1010316725/?random=1464879909601&amp;cv=8&amp;fst=1464879909601&amp;num=1&amp;fmt=1&amp;guid=ON&amp;u_h=768&amp;u_w=1366&amp;u_ah=728&amp;u_aw=1366&amp;u_cd=24&amp;u_his=1&amp;u_tz=-240&amp;u_java=false&amp;u_nplug=5&amp;u_nmime=7&amp;frm=0&amp;url=https%3A//gre.magoosh.com/%3Futm_source%3DMagooshGREBlog%26utm_medium%3DTopLogo%26utm_campaign%3DNewLogo&amp;ref=http%3A//magoosh.com/gre/&amp;tiba=Magoosh%20GRE%20-%20Online%20GRE%20Prep%20and%20Practice%20Questions%20with%20Video%20Tutorials" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no"></iframe>
    <noscript>
        &lt;div style="display:inline;"&gt;
        &lt;img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1010316725/?value=0&amp;amp;guid=ON&amp;amp;script=0"/&gt;
        &lt;/div&gt;
    </noscript>
</div>

<script type="text/javascript">
    //<![CDATA[
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9161165-9']);
    _gaq.push(['_trackPageview']);


    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    //]]>
</script>

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '697586983682827');
    fbq('track', 'PageView');
</script>

<noscript>
    &lt;img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=697586983682827&amp;ev=PageView&amp;noscript=1"/&gt;
</noscript>
<!-- End Facebook Pixel Code -->


<!-- start Mixpanel -->
<script type="text/javascript">
    (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);

    mixpanel.init("13ebccfb202485c7f086d7367e1aef55", {
        cross_subdomain_cookie: true,
        track_pageview: false,
        loaded: function(){
            // Send this property for anonymous also
            var product_event_name = "GRE product viewed";
            var view_count = mixpanel.get_property(product_event_name) || 0;
            var properties = {};
            properties[product_event_name] = view_count + 1;
            mixpanel.register(properties);


            mixpanel.track("Page Viewed",{host:location.hostname,path:location.pathname});
        }
    });
</script>
<!-- end Mixpanel -->

<script type="text/javascript">
    var pixelezeData = pixelezeData || {};
    pixelezeData.AccountId = "8b48eade-8e10-4e85-88fd-fd0d10921017";
</script>
<script async="" type="text/javascript" src="//www.pixeleze.com/pixeleze.js"></script>

<script>
    //<![CDATA[
    var _kiq = _kiq || [];
    _kiq.push(['identify', 'anonymous']);
    //]]>
</script>

<script async="async" src="//s3.amazonaws.com/ki.js/5107/2-O.js" type="text/javascript"></script>

<script>
    var qcdata = qcdata || {};
    (function(){
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://pixel") + ".quantserve.com/aquant.js?a=p-JzNsSCWva-8EN";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem,scpt);
    }());

    qcdata.qacct = 'p-JzNsSCWva-8EN';
</script>
<noscript>
    &lt;img src="//pixel.quantserve.com/pixel/p-JzNsSCWva-8EN.gif?labels=_fp.event.Default" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/&gt;
</noscript>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44342214-1', 'magoosh.com');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

</script>

<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>

<script type="text/javascript">
    window.criteo_q = window.criteo_q || [];
    var criteoDeviceType=
            /iPad/.test(navigator.userAgent)?"t":/Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.
                    userAgent)?"m":"d";
    window.criteo_q.push(
            { event: "setAccount", account: 22195},
            { event: "setSiteType", type: criteoDeviceType}
            , { event: "viewItem", item: [92, 93, 176]}
            , { event: "viewHome" }
    );
</script>





<script type="text/javascript">
    // IMPORTANT! If the user is logged in, set to user_id; else, set to ''
    var _user_id = "";

    // IMPORTANT! Set to a unique session ID for the visitor's current browsing session.
    var _session_id = "fa9fe2cd00b4c5ac94fdc0286c54e31c";

    var _sift = window._sift = window._sift || [];

    // IMPORTANT! Insert your JavaScript snippet key here!
    _sift.push(['_setAccount', "6e3519fb84"]);

    _sift.push(['_setUserId', _user_id]);
    _sift.push(['_setSessionId', _session_id]);
    _sift.push(['_trackPageview']);

    (function() {
        function ls() {
            var e = document.createElement('script');
            e.type = 'text/javascript';
            e.async = true;
            e.src = ('https:' === document.location.protocol ? 'https://' : 'http://') + 'cdn.siftscience.com/s.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(e, s);
        }
        if (window.attachEvent) {
            window.attachEvent('onload', ls);
        } else {
            window.addEventListener('load', ls, false);
        }
    }());
</script>




<div id="criteo-tags-div" style="display: none;"><iframe height="0" width="0" src="//dis.us.criteo.com/dis/dis.aspx?p=22195&amp;cb=96549681850&amp;ref=http%3A%2F%2Fmagoosh.com%2Fgre%2F&amp;sc_r=1366x768&amp;sc_d=24" style="display: none;"></iframe></div></body></html>
