
<!-- NAVBAR
================================================== -->

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/verbal">Verbal Section</a></li>
                                <li><a href="#/quant">Quant Section</a></li>
                                <li><a href="#/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/greinfo">GRE Basic Info</a></li>
                                <li><a href="#/practicetest">Practice Test</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a>Welcome {{model.user.username}}</a></li>
                        <li><a ng-click="model.logout()"><button type="button" class="btn btn-sm btn-primary">Logout</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>


<div class="container">
    <div class="grid_13">

    <div class="row">
        <div class="col-md-12 col-xs-10">
            <div class="well panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="http://api.randomuser.me/portraits/men/21.jpg" alt="Profile Image"  class="center-block img-circle img-thumbnail img-responsive">
                            <ul class="list-inline ratings text-center" title="Ratings">
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            </ul>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-8">
                            <h2>Welcome {{model.user.username}}</h2><br>
                            <p ><strong>About: </strong> </p><br>
                            <p><strong>Hobbies: </strong> </p>

                            <a href="#/user/{{model.user._id}}/social">
                                <button type="button" class="btn btn-primary" data-toggle="tab">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    <div class="hidden-xs">Social Connect</div>
                                </button>
                            </a>

                        </div>


                    </div>
                    <!--/row-->
                </div>
                <!--/panel-body-->


            </div>
            <!--/panel-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->


    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a href="#/user/{{model.user._id}}/wordlist">
                <button type="button" class="btn btn-primary" data-toggle="tab">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <div class="hidden-xs">Wordlist</div>
                </button>
            </a>
        </div>
        <div class="btn-group" role="group">
            <a href="#/verbal">
                <button type="button" id="followers" class="btn btn-default" data-toggle="tab">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    <div class="hidden-xs">Verbal</div>
                </button>
            </a>
        </div>
        <div class="btn-group" role="group">
            <a href="#/quant">
                <button type="button" id="following" class="btn btn-default" data-toggle="tab"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    <div class="hidden-xs">Quantitative</div>
                </button>
            </a>
        </div>
        <div class="btn-group" role="group">
            <a  href="#/awa">
                <button type="button" id="reviews" class="btn btn-default" data-toggle="tab"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    <div class="hidden-xs">Writing</div>
                </button>
            </a>
        </div>
        <div class="btn-group" role="group">
            <a href="#/user/{{model.user._id}}/profile">
                <button type="button" id="editProfile" class="btn btn-default" data-toggle="tab"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <!-- ngIf: !model.isdifferentUser --><div class="hidden-xs ng-scope">Edit Profile</div><!-- end ngIf: !model.isdifferentUser -->
                <!-- ngIf: model.isdifferentUser -->
                 </button>
            </a>
        </div>
    </div>



        <div class="container" style="padding-top:60px;">
            <u><h1>Why Flashcards Are So Effective</h1></u>

            <h2>Flashcards engage “active recall”</h2>
            <blockquote>
                <p>When you look at the front side of a flashcard and think of the answer, you are engaging a mental faculty known as active recall. In other words, you are attempting to remember the concept from scratch rather than simply staring at the passage in your textbook or recognizing it on a multiple choice quiz. Active recall has been proven to create stronger neuron connections for that memory trace. And because flashcards can so easily facilitate repetition , they are the best way to create multiple memory-enhancing recall events.</p>
            </blockquote>

            <h2>Flashcards utilize your metacognitive faculties</h2>
            <blockquote>
                <p>When you reveal the answer side of a flashcard to assess your correctness, you are essentially asking yourself “How did my answer compare to this correct answer?” and “How well did I know (or not know) it?” This act of self-reflection is known as metacognition. Research shows that applying metacognition tends to ingrain memories deeper into your knowledge.</p>
            </blockquote>

            <h2> Flashcards allow for confidence-based repetition</h2>
            <blockquote>
                <p>Because flashcards exist loosely, rather than tied to a book or document, you are able to separate them into piles based on whether (or how often) you need to study them again. This practice of confidence-based repetition is proven by decades of research to be the most scientifically optimized way to improve memory performance.</p>
            </blockquote>

        </div>


</div>
<!--/container-->
</div>