<!-- NAVBAR
================================================== -->

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/verbal">Verbal Section</a></li>
                                <li><a href="#/quant">Quant Section</a></li>
                                <li><a href="#/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/greinfo">GRE Basic Info</a></li>
                                <li><a href="#/practicetest">Practice Test</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/login">Log in</a></li>
                        <li><a href="#/register"><button type="button" class="btn btn-sm btn-primary">Sign Up</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>



<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h1>Register</h1>
    <input ng-model="username"
           type="text"
           class="form-control"
           placeholder="username"/>
    <input ng-model="password1"
           type="password"
           class="form-control"
           placeholder="password"/>
    <input ng-model="password2"
           type="password"
           class="form-control"
           placeholder="verify password"/>
    <a class="btn btn-primary btn-block"
       ng-click="model.register(username, password1, password2)">Register</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Cancel</a>
</div>