

    <!-- NAVBAR
    ================================================== -->

    <div class="navbar-wrapper" >
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">GRE CHAMP</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/verbal">Verbal Section</a></li>
                                <li><a href="#/quant">Quant Section</a></li>
                                <li><a href="#/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/login">Log in</a></li>
                        <li><a href="#/register"><button type="button" class="btn btn-sm btn-primary">Sign Up</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

    <div style="background-color: #dddddd">


        <div class="container">

            <div class="grid_13" style="background-image: url(http://www.franlo.co.uk/images/slider/websiteTemplates/webSliderBackground.jpg)">


                <div id="main-contents" class="wrap-flex" >
        <h1>
            About the GRE  revised General Test
        </h1>
        <div class="contents left">
            <!--startindex--><h2>One Test for Graduate and Business School. More Opportunities for Success.</h2>
            <p>Getting an advanced degree can create many opportunities. In fact, recent data from the <a href="http://www.bls.gov/emp/ep_chart_001.htm" title="This link opens in a new window">Bureau of Labor Statistics</a> and <a href="http://www.oecd.org/education/skills-beyond-school/48630772.pdf" title="This link opens in a new window" target="_blank">The Organisation for Economic Co-operation and Development <span class="is-pdf">(PDF)</span></a> illustrates how education pays in higher earnings and lower unemployment rates.</p>
            <p>Whether you are planning to go to graduate school or business school — or just exploring your options — you are taking an important step toward your future. It is a smart move to show schools your best and with the <span class="text-italic">GRE</span><sup>®</sup> revised General Test, you can! That's the Power of Confidence — only with the GRE revised General Test.</p>
            <p>The GRE revised General Test gives you the Power of Confidence to help you do your best. With the GRE revised General Test, <span class="text-italic">you</span> decide which scores to send to schools. If you feel you didn't do your best on test day, that's okay. You can retake the test and then send <strong>only</strong> the scores you want schools to see. It's all part of the <span class="text-italic">ScoreSelect</span><sup>®</sup> option, only available with GRE tests.</p>
            <p>The GRE revised General Test features question types that closely reflect the kind of thinking you'll do in graduate or business school.</p>
            <br><br><br><br><br><br><br><br><br><ul>
                <li><strong>Verbal Reasoning</strong> — Measures your ability to analyze and evaluate written material and synthesize information obtained from it, analyze relationships among component parts of sentences and recognize relationships among words and concepts.</li>
                <li><strong>Quantitative Reasoning</strong> — Measures problem-solving ability using basic concepts of arithmetic, algebra, geometry and data analysis.</li>
                <li><strong>Analytical Writing</strong> — Measures critical thinking and analytical writing skills, specifically your ability to articulate and support complex ideas clearly and effectively.</li>
            </ul>
            <p><a href="/gre/revised_general/about/content/">Learn more about the content and structure of the GRE revised General Test</a>.</p>
            <h2>Who Takes It?</h2>
            <p>Prospective graduate and business school applicants from all around the world who are interested in pursuing a master's, MBA, specialized master's in business or doctoral degree take the GRE revised General Test. Applicants come from varying educational and cultural backgrounds and the GRE revised General Test provides schools with a common measure for comparing candidates' qualifications.</p>
            <p>GRE scores are used by admissions or fellowship panels to supplement your undergraduate records, recommendation letters and other qualifications for graduate-level study.</p>
            <br><br><br><br><br><br><br><br><br><h2>When and Where Do People Take It?</h2>
            <p>The GRE revised General Test is available at more than 1,000 test centers in more than 160 countries. In most regions of the world, the computer-delivered test is available on a continuous basis throughout the year. In Mainland China, Hong Kong, Taiwan and Korea, the computer-delivered test is available one to three times per month. In areas of the world where computer-delivered testing is not available, the paper-delivered test is available up to three times a year in October, November and February.</p>


        </div><!-- end contents left -->
        <div class="contents navigation">

        </div><!-- end contents navigation -->

        <div class="clearboth"></div>
    </div>

            </div>

        </div>

    </div>

