input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

p.navbar-header.pull-left{
    padding-left: 15px;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
}

/*.stage {*/
    /*-webkit-perspective: 1000;                   !* Sets up your viewpoint for seeing the animation *!*/
/*}*/

.flashcard {
    height: 300px;
    width: 500px;
    margin: 10% auto;                                              /* Centers the flashcard on the page */
    border: 1px solid gray;                            /*  Border makes the animation easier to see. */
    box-shadow: 2px 2px 2px #000;
    -webkit-transform-style: preserve-3d;                                 /* Provides 3D perspective. */
    transition: all 0.3s;                                /* Slows down any transitions (e.g. rotation) */
    -webkit-transition: all 0.3s;
}

.flipped, .back {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);                      /* Rotates flashcard div when applied */
}

.front, .back {
    position: absolute;
    -webkit-backface-visibility: hidden;           /*  Hides back side of text (it's upside down) */
    height: 300px;                                   /* Stretches side to inhabit full size of flashcard */
    width: 500px;
    text-align: center;
}

.front p, .back p {
    margin-top: 25%;
    font-size: 3em;
}


.round-button {
    width:80%;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow:hidden;
    margin: 10%;
    background: #4679BD;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
    background:#30588e;
}
.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.square-box{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #4679BD;
    margin: 5%;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.square-content div {
    display: table;
    width: 100%;
    height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

li {
    list-style: none;
}