<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">GRE CHAMP</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/user/{{model.userId}}/verbal">Verbal Section</a></li>
                                <li><a href="#/user/{{model.userId}}/quant">Quant Section</a></li>
                                <li><a href="#/user/{{model.userId}}/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/user/{{model.userId}}">Welcome {{model.name}}</a></li>
                        <li><a ng-click="model.logout()"><button type="button" class="btn btn-sm btn-primary">Logout</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div >

    <div class="container" >

<div class="grid_13">
    <a href="#/user/{{model.userId}}/wordlist/{{model.websiteId}}/word">
        <button type="button" class="btn btn-lg btn-info"><< BACK</button>
    </a>
    <center><u><h1 style="color: black">FLASHCARD</h1></u></center>
    <center><h3>Learn this word using flashcard!!!</h3></center>


    <div class="stage">
         <div class="flashcard">
        <div class="front">
            <p>{{model.word}}</p>
        </div>
        <div class="back">
            <h3><b>{{model.word}}</b></h3>
            <h3><i>{{model.definition}}</i></h3>
            <h3>{{model.example}}</h3>
        </div>
        </div>
    </div>


</div>


    </div>

</div>
