
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/wordlist/{{model.websiteId}}/word">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Flashcard
            </a>

        </div>
    </div>
</nav>

<div class="stage">
    <div class="flashcard">
        <div class="front">
            <p>{{model.word}}</p>
        </div>
        <div class="back">
            <b><h1>{{model.word}}</h1></b><br>
            <i><h3>{{model.definition}}</h3></i><br>
            <h3>{{model.example}}</h3>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>






