<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">GRE CHAMP</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/user/{{model.userId}}/verbal">Verbal Section</a></li>
                                <li><a href="#/user/{{model.userId}}/quant">Quant Section</a></li>
                                <li><a href="#/user/{{model.userId}}/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/user/{{model.userId}}">Welcome {{model.name}}</a></li>
                        <li><a ng-click="model.logout()"><button type="button" class="btn btn-sm btn-primary">Logout</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div style="background-color: #fdf5ce">

    <div class="container" >

<div class="grid_13">


        <nav class="navbar navbar-default" style="background-color: #cccccc">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a ng-click="model.linkToPageList()" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"/>
                </a>
            </p>
            <a class="navbar-brand" href="">
                <u><strong>{{model.page.name}}</strong></u>
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.searchComments(model.page.name)" class="navbar-link">
                    <button type="button" class="btn btn-md btn-info">SEARCH MNEMONICS</button>
                </a>
            </p>
        </div>
    </div>
</nav>



    <div class="container">
    <ul class="list-group">
        <li ng-repeat="p in model.pageList" class="list-group-item" style="background-color: #cccccc">
            <a>
                <strong><u>{{p.title}}</u></strong>
            </a>
        </li>
    </ul>
</div>

</div>

        <br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>
    </div>

</div>