
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a ng-click="model.linkToPageList()">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Edit Word
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updatePage()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form>
        <div class="form-group">
            <label for="name">Word</label>
            <input ng-model="model.page.name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="Abash">
        </div>
        <div class="form-group">
            <label for="title">Add mneomonic</label>
            <input ng-model="model.page.title"
                   type="text"
                   id="title"
                   class="form-control"
                   placeholder="Abash=Abhi+Ash is embarrasing">
        </div>
    </form>
    <a class="btn btn-danger  btn-block"
       ng-click="model.deletePage()">Delete Word</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>






