
<!-- NAVBAR
================================================== -->

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/verbal">Verbal Section</a></li>
                                <li><a href="#/quant">Quant Section</a></li>
                                <li><a href="#/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/greinfo">GRE Basic Info</a></li>
                                <li><a href="#/practicetest">Practice Test</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/login">Log in</a></li>
                        <li><a href="#/register"><button type="button" class="btn btn-sm btn-primary">Sign Up</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div style="background-color: #dddddd">

<div class="container">

    <div class="grid_13">
    <header>
        <h1>GRE Math Numeric Entry</h1>
    </header>
    <section class="entry">
        <p>Numeric entry questions require you to solve a problem and enter your answer in the space provided. Numeric
            entry questions account for approximately 10% of the GRE quantitative reasoning section.
        </p>
        <p><em>Each test has ten questions and should take 12 minutes.</em>
        </p>
        <p>In our tests we allow you to enter up to four digits. You can use any digit from 0 to 9 and you can use a
            decimal point or a slash (/). Use a slash to indicate a fraction.
        </p>
    </section>
    <div id="directions">
        <h2>Directions</h2>
        <p>Solve each question and enter the answer in the spaces provided. Use any of the symbols 1,2,3,4,5,6,7,8,9,0,
            . , /.</p>
        <p>Notes:</p>
        <div class="bkgrnd-g">
            <ul>
                <li>Use a calculator when needed</li>
                <li>Do rough work on a sheet of paper</li>
                <li>Remember to answer as accurately as possible</li>
                <li>Do not enter a zero before a decimal point in a fractional answer (for example, enter .667 rather
                    than 0.66)
                </li>
                <li>Do not use mixed fractions (you cannot enter 1 and a half as a fraction; use 1.5 or 3/2)</li>
            </ul>
        </div>
    </div>

    <hr class="featurette-divider">
    <a href="#/psp">
        <button type="button" class="btn btn-lg btn-info">Practice Now >></button>
    </a>
</div>

</div>
<br>
<div class="container">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>
</div>