
<!-- NAVBAR
================================================== -->

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/verbal">Verbal Section</a></li>
                                <li><a href="#/quant">Quant Section</a></li>
                                <li><a href="#/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/greinfo">GRE Basic Info</a></li>
                                <li><a href="#/practicetest">Practice Test</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/login">Log in</a></li>
                        <li><a href="#/register"><button type="button" class="btn btn-sm btn-primary">Sign Up</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div class="grid_13">
    <h1>GRE Math Numeric Entry Practice Test Set</h1>
    <form name="TEST" action="numeric_entry_mark.php" method="POST">
        <input type="hidden" name="testid" value="G001">
        <p>
            <strong>1.</strong> 145  300  610  1230 <br>In the above sequence every term after the first is formed by multiplying by x and then adding y, where x and y are positive integers. What is the value of x + y?
        </p><p><input type="test" name="1" maxlength="4" size="5">
    </p>
        <p>
            <strong>2.</strong> A confectioner has 500 mint, 500 orange and 500 strawberry flavored sweets. He wishes to make packets containing 10 mint, 5 orange and 5 strawberry sweets. What is the maximum number of packets of this type he can make?
        </p><p><input type="test" name="2" maxlength="4" size="5">
    </p>
        <p>
            <strong>3.</strong> If S is the sum of 8,6,4,2 and x, what must be the value of x  for x to equal 1/5 S ?
        </p><p><input type="test" name="3" maxlength="4" size="5">
    </p>
        <p>
            <strong>4.</strong> 25 per cent of 600 is equal to 15 per cent of what number?
        </p><p><input type="test" name="4" maxlength="4" size="5">
    </p>
        <p>
            <strong>5.</strong> What is the maximum number of points of intersection of four distinct lines in a plane?
        </p><p><input type="test" name="5" maxlength="4" size="5">
    </p>
        <p>
            <strong>6.</strong> If one edge of a 6-inch ruler is to be marked in 1/10 inch units, how many marks will there be on the edge including the 0 and 6 inch marks?
        </p><p><input type="test" name="6" maxlength="4" size="5">
    </p>
        <p><img src="testpics/g001-7.gif"></p><p>
        <strong>7.</strong> If the area of the right triangle above is 72, what is the value of x?
    </p><p><input type="test" name="7" maxlength="4" size="5">
    </p>
        <p>
            <strong>8.</strong> Given that the sum of the odd integers from 1 to 99 inclusive is 2500, what is the sum of the even integers from 2 to 100 inclusive?
        </p><p><input type="test" name="8" maxlength="4" size="5">
    </p>
        <p>
            <strong>9.</strong> In a certain game of 50 questions, the final score is calculated by subtracting twice the number of wrong answers from the total number of correct answers. If a player attempted all questions and received a final score of 35, how many wrong answers did he give?
        </p><p><input type="test" name="9" maxlength="4" size="5">
    </p>
        <p>
            <strong>10.</strong> What positive value for k would make the following the equations of a pair of parallel lines on the same coordinate axes?<br>y = kx – 2 and ky = 9x – 7
        </p><p><input type="test" name="10" maxlength="4" size="5">
    </p>
        <p><input type="SUBMIT" value="SUBMIT"></p>
    </form>
</div>

</div>

<div class="container">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>
