
<!-- NAVBAR
================================================== -->

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">GRE CHAMP</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <!--<li class="dropdown">-->
                            <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
                               <!--aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a href="#/user/{{model.userId}}/verbal">Verbal Section</a></li>-->
                                <!--<li><a href="#/user/{{model.userId}}/quant">Quant Section</a></li>-->
                                <!--<li><a href="#/user/{{model.userId}}/awa">AWA Section</a></li>-->
                                <!--<li role="separator" class="divider"></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    </ul>

                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <u><h4>EXAM MODE ON</h4></u>
                        <!--<li><a href="#/user/{{model.userId}}">Welcome {{model.name}}</a></li>-->
                        <!--<li><a ng-click="model.logout()"><button type="button" class="btn btn-sm btn-primary">Logout</button></a></li>-->
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>


<div>

    <div style="background-color: #fdf5ce">


    <div class="container">
    <div class="grid_13">

        <div class="quiz-area" ng-show="model.inProgress" style="background-color: #aaaaaa">
            <div ng-show="!model.quizOver">
                <h2 id="question">{{model.question}}</h2>
                <ul id="options">
                    <li ng-repeat="option in model.options">
                        <label>
                            <input type="radio" name="answer" value="{{option}}">
                            {{option}}
                        </label>
                    </li>
                </ul>
                <button ng-click="model.checkAnswer()" ng-show="model.answerMode">Submit Answer</button>

                <div ng-show="!model.answerMode">
                    <button ng-click="model.nextQuestion()" class="model.next-question">Next Question</button>
                    <span ng-show="model.correctAns"></span>
                    <span ng-show="!model.correctAns"></span>
                </div><br><br>
                <br><br><br><br>
            </div>

            <div ng-show="model.quizOver" style="text-align: center">
                <br>
                <h2 >End Of Set</h2>
                <p >Your Practice set is now complete</p>
                <div id="score">
                     <h3>Your Score for this practice set is: {{model.score}}</h3>
                </div><br><br>
                <button ng-click="model.reset()">RETEST</button>
                <br><br>
                <a href="#/user/{{model.userId}}"><button>BACK TO PROFILE</button></a>
                <br><br><br><br><br><br><br>
            </div>

        </div><br><br><br><br><br><br><br><br>




        <div class="intro" ng-show="!model.inProgress">

            <h1> Exam Instructions</h1>
            <blockquote>

                <p align="JUSTIFY">

                    The exam consists of 10 multiple-choice questions, each presented on a
                    separate page.  The complete instructions for
                    the exam are available from every page, so you can always check them at
                    any time.  You can use the sample
                    question as a reference for the instructions.  Note, however, that the
                    buttons on the sample page are not active.
                </p><p align="JUSTIFY">

                The instructions can be summarized as follows:

            </p><ul>
                <li>You select an answer by clicking on the checkbox to the left of your
                    choice.  You can change your answer as often as you like simply by
                    selecting a different checkbox.   </li>
                <p>

                </p><li>When you have made a choice for your answer press the submit button to submit,
                 upur answer and press the next button to jump to the "Next
                Problem".</li>
                <p>

                </p><li>When you have finished, press the "Turn in Exam" button to end taking
                the exam. Note that your answer is recorded whenever you move to a new
                problem (or turn in the exam).</li>
            </ul>

                <p align="JUSTIFY">

                    You can use the email address at the bottom of every page to
                    contact the Math Department if you have technical difficulties with the exam.

                </p></blockquote><br>




            <button id="startQuiz" ng-click="model.start()">Start the Exam</button><br><br><br><br><br><br>
        </div>


</div>

    </div>
    <br><br>
        </div>
</div>