
<!-- NAVBAR
================================================== -->

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">GRE CHAMP</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/user/{{model.userId}}/verbal">Verbal Section</a></li>
                                <li><a href="#/user/{{model.userId}}/quant">Quant Section</a></li>
                                <li><a href="#/user/{{model.userId}}/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/user/{{model.userId}}">Welcome {{model.name}}</a></li>
                        <li><a ng-click="model.logout()"><button type="button" class="btn btn-sm btn-primary">Logout</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div style="background-color: #fdf5ce">

<div class="container">

    <div class="grid_13">
        <a href="#/user/{{model.userId}}/quant">
            <button type="button" class="btn btn-lg btn-info"><< BACK</button>
        </a>
    <header>
        <h1>GRE Math Quantitative Comparisons</h1>
    </header>
    <section class="entry">
        <p>Quantitative Comparison questions require much less calculation than standard problem solving. These
            questions account for approximately 35% of the GRE quantitative reasoning section. You should not take more
            than one minute for each problem.
            Do not do unnecessary calculations: compare rather than calculate.
        </p>
        <p><em>Each test has ten questions and should take 10 minutes.</em>
        </p>
        <p>Remember that variables (<i>x</i>, <i>y</i> etc.) can be positive, negative, zero or fractions, unless the
            question states otherwise. So consider all the options before deciding the relationship.
            <br>Read our explanations carefully and learn from your mistakes.
        </p>
    </section>
    <div id="directions">
        <h2>Directions</h2>
        <p>Each question has two quantities to be compared: one in a box in the left
            hand column and one in a box in the right hand column.</p>
        <p>Notes:</p>
        <div class="bkgrnd-g">
            <p>Compare the quantities taking into consideration any other information given and choose</p>
            <ul>
                <li>Answer A - if the quantity on the left is greater</li>
                <li>Answer B - if the quantity on the right is greater</li>
                <li>Answer C - if both are equal</li>
                <li>Answer D - if the relationship cannot be determined without further information.</li>
            </ul>
        </div>
    </div>

    <hr class="featurette-divider">
    <a href="#/user/{{model.userId}}/psp">
        <button type="button" class="btn btn-lg btn-info">Practice Now >></button>
    </a>
</div>

</div>

<br>
<div class="container">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>
</div>