<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>GRE CHAMP</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="../../css/carousel.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../homepage.view.client.html">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="../homepage.view.client.html">Home</a></li>
                        <li><a href="../general/testimonials.view.client.html">Testimonials</a></li>
                        <li><a href="../general/about.view.client.html">About</a></li>
                        <li><a href="../general/contact.view.client.html">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../verbal/verbal.view.client.html">Verbal Section</a></li>
                                <li><a href="../quant/quant.view.client.html">Quant Section</a></li>
                                <li><a href="../awa/awa.view.client.html">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="../general/greinfo.view.client.html">GRE Basic Info</a></li>
                                <li><a href="../general/practicetest.view.client.html">Practice Test</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="../user/login.view.client.html">Log in</a></li>
                        <li><a href="../user/register.view.client.html">
                            <button type="button" class="btn btn-sm btn-primary">Sign Up</button>
                        </a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div class="grid_13">
    <h1>GRE Math Quantitative Comparison Practice Set</h1>
    <form name="TEST" action="quantitative_comparison_mark.php" method="POST">
        <input type="hidden" name="testid" value="Q001">
        <p>
            <strong>1.</strong> The average (arithmetic mean) of four numbers is 36<br></p><table class="qc">
        <tbody><tr>
            <td>The sum of the same four numbers</td>
            <td>140</td>
        </tr>
        </tbody></table><p></p>
        <p><input type="RADIO" name="1" value="A">A. The quantity on the left is greater
            <br><input type="RADIO" name="1" value="B">B. The quantity on the right is greater
            <br><input type="RADIO" name="1" value="C">C. Both are equal
            <br><input type="RADIO" name="1" value="D">D. The relationship cannot be determined without further information
        </p>
        <p>
            <strong>2.</strong> n is an integer &gt;0<br></p><table class="qc">
        <tbody><tr>
            <td>1/n + n</td>
            <td>2</td>
        </tr>
        </tbody></table><p></p>
        <p><input type="RADIO" name="2" value="A">A. The quantity on the left is greater
            <br><input type="RADIO" name="2" value="B">B. The quantity on the right is greater
            <br><input type="RADIO" name="2" value="C">C. Both are equal
            <br><input type="RADIO" name="2" value="D">D. The relationship cannot be determined without further information
        </p>
        <p>
            <strong>3.</strong> &nbsp;<br></p><table class="qc">
        <tbody><tr>
            <td>The diagonal of a rectangle</td>
            <td>Half the perimeter of the same rectangle</td>
        </tr>
        </tbody></table><p></p>
        <p><input type="RADIO" name="3" value="A">A. The quantity on the left is greater
            <br><input type="RADIO" name="3" value="B">B. The quantity on the right is greater
            <br><input type="RADIO" name="3" value="C">C. Both are equal
            <br><input type="RADIO" name="3" value="D">D. The relationship cannot be determined without further information
        </p>
        <p>
            <strong>4.</strong> x + y = 5<br>y - x = 3<br></p><table class="qc">
        <tbody><tr>
            <td>x</td>
            <td>y</td>
        </tr>
        </tbody></table><p></p>
        <p><input type="RADIO" name="4" value="A">A. The quantity on the left is greater
            <br><input type="RADIO" name="4" value="B">B. The quantity on the right is greater
            <br><input type="RADIO" name="4" value="C">C. Both are equal
            <br><input type="RADIO" name="4" value="D">D. The relationship cannot be determined without further information
        </p>
        <p>
            <strong>5.</strong> &nbsp;<br></p><table class="qc">
        <tbody><tr>
            <td>The distance between the points with rectangular coordinates (0,5) and (0,10)</td>
            <td>The distance between the points with rectangular coordinates  (1,8) and (-3,5)</td>
        </tr>
        </tbody></table><p></p>
        <p><input type="RADIO" name="5" value="A">A. The quantity on the left is greater
            <br><input type="RADIO" name="5" value="B">B. The quantity on the right is greater
            <br><input type="RADIO" name="5" value="C">C. Both are equal
            <br><input type="RADIO" name="5" value="D">D. The relationship cannot be determined without further information
        </p>
        <p>
            <strong>6.</strong> &nbsp;<br></p><table class="qc">
        <tbody><tr>
            <td> + 7</td>
            <td>√(36 + 49)</td>
        </tr>
        </tbody></table><p></p>
        <p><input type="RADIO" name="6" value="A">A. The quantity on the left is greater
            <br><input type="RADIO" name="6" value="B">B. The quantity on the right is greater
            <br><input type="RADIO" name="6" value="C">C. Both are equal
            <br><input type="RADIO" name="6" value="D">D. The relationship cannot be determined without further information
        </p>
        <p>
            <strong>7.</strong> A fair coin is tossed three times<br></p><table class="qc">
        <tbody><tr>
            <td>The chances of getting 3 heads</td>
            <td>The chances of getting no heads</td>
        </tr>
        </tbody></table><p></p>
        <p><input type="RADIO" name="7" value="A">A. The quantity on the left is greater
            <br><input type="RADIO" name="7" value="B">B. The quantity on the right is greater
            <br><input type="RADIO" name="7" value="C">C. Both are equal
            <br><input type="RADIO" name="7" value="D">D. The relationship cannot be determined without further information
        </p>
        <p>
            <strong>8.</strong> &nbsp;<br></p><table class="qc">
        <tbody><tr>
            <td>The percentage of the multiples of 2 that are also multiples of 5</td>
            <td>The percentage of the multiples of 5 that are also multiples of 2</td>
        </tr>
        </tbody></table><p></p>
        <p><input type="RADIO" name="8" value="A">A. The quantity on the left is greater
            <br><input type="RADIO" name="8" value="B">B. The quantity on the right is greater
            <br><input type="RADIO" name="8" value="C">C. Both are equal
            <br><input type="RADIO" name="8" value="D">D. The relationship cannot be determined without further information
        </p>
        <p>
            <strong>9.</strong> &nbsp;<br></p><table class="qc">
        <tbody><tr>
            <td>The area of a right angled triangle with sides 6,8 and 10</td>
            <td>Twice the area of a right angled triangle with sides 3,4 and 5</td>
        </tr>
        </tbody></table><p></p>
        <p><input type="RADIO" name="9" value="A">A. The quantity on the left is greater
            <br><input type="RADIO" name="9" value="B">B. The quantity on the right is greater
            <br><input type="RADIO" name="9" value="C">C. Both are equal
            <br><input type="RADIO" name="9" value="D">D. The relationship cannot be determined without further information
        </p>
        <p><img src="testpics/q001-10.gif"></p><p>
        <strong>10.</strong> JL = KM<br></p><table class="qc">
        <tbody><tr>
            <td>JK</td>
            <td>LM</td>
        </tr>
        </tbody></table><p></p>
        <p><input type="RADIO" name="10" value="A">A. The quantity on the left is greater
            <br><input type="RADIO" name="10" value="B">B. The quantity on the right is greater
            <br><input type="RADIO" name="10" value="C">C. Both are equal
            <br><input type="RADIO" name="10" value="D">D. The relationship cannot be determined without further information
        </p>
        <p><input type="SUBMIT" value="SUBMIT"></p>
    </form>
</div>

</div>

<div class="container">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>