

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="/assignment/website/website-list.html" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="page-new.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/assignment/widget/widget-list.html">
                Some Blog Post
            </a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/assignment/widget/widget-list.html">
                Home
            </a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/assignment/widget/widget-list.html">
                About
            </a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/assignment/widget/widget-list.html">
                Product List
            </a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="/assignment/user/profile.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
