
<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/verbal">Verbal Section</a></li>
                                <li><a href="#/quant">Quant Section</a></li>
                                <li><a href="#/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/greinfo">GRE Basic Info</a></li>
                                <li><a href="#/practicetest">Practice Test</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/login">Log in</a></li>
                        <li><a href="#/register"><button type="button" class="btn btn-sm btn-primary">Sign Up</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div class="container">

    <div class="grid_13">
    <h1>Analyze an argument</h1>
    <h2>Guidelines</h2>
    <ul>
        <li>You are expected to analyze the logic of the given argument. You must not start giving your opinion of the subject matter of the argument.<br>(For example, if the argument claims that a certain newspaper is not selling well because it has recently increased its price, you are not expected to give views on what makes a good newspaper, or on marketing strategies. You simply have to discuss whether the evidence provided warrants that conclusion.)</li>
        <li>All the arguments will be seriously flawed. In your initial reading try to find the main conclusion, identify the underlying logic of the argument and identify the major faults. The main categories of logical error that you should be able to spot are:
            <ul>
                <li>Generalizations</li>
                <li>Problems with surveys and statistics</li>
                <li>False causes</li>
                <li>False analogies</li>
                <li>Hidden assumptions</li>
                <li>Inadequate authority</li>
            </ul>
        </li>
    </ul>
    <h2>Format of your essay</h2>
    <p>
        There is no specific format that the examiners recommend for addressing the Analyze an Argument task. However, with only 30 minutes to plan and write the essay, you would be advised to work out an approach that suits you. The following format should point you in the right direction.
    </p>
    <h3>Part I - Introduction</h3>
    <p>Write an introduction explaining in your own words what the argument claims.</p>
    <p>
        End your paragraph with a statement such as:<br>
        <em>
            However, this conclusion seems unwarranted,</em> or<br>
        <em>However, the information provided does not justify this conclusion</em> or<br>
        <em>This conclusion is not well supported / fails to convince/ is flawed</em> etc.
    </p>
    <p>
        The exact wording will depend on the instructions you are given. For example, if you have been asked to focus on the assumptions that the argument makes, you might use words along the lines of: <em>contains a number of unsupported assumptions that cast doubt on the authorï¿½s conclusion.</em>
    </p>
    <h3>Part II - The body of the essay</h3>
    <p>Write 2, 3 or 4 paragraphs to deal with the line of argument according to the specific instructions given.</p>
    <p>For example, in the case in which you are asked to focus on alternative explanations, you can explain what alternative reasons or other causes might need to be considered. In the case in which you are asked what questions need to be addressed to evaluate the argument, you might find yourself (depending on the actual argument in the question) focusing on misleading statistics and figures, the source of the information, or dubious comparisons that are made.</p>
    <p>No one formula fits all the topics in the pool, but you can easily work out the way to address the body of the essay once you have tried a few of the topics for yourself.</p>
    <p>You should also read the sample essays provided in the Official Guide to the GRE and on the GRE website. <strong>DO NOT</strong> be tempted to copy the wording of these sample essays in your own response. If you are judged to have plagiarised any part of your essay you risk having your score discounted.</p>

    <h3>Part III - What else is needed?</h3>
    <p>The final paragraph is the place to cover what else you would need to know before you are able to decide whether the conclusion is actually valid. This ï¿½what elseï¿½ paragraph obviates the necessity for a formal conclusion. Useful statements are along the lines of:<br>
        <em>In order to decide whether, indeed, ABC is actually the case, it would be useful to have access to XYZ.</em><br>
        XYZ might include one or other of: Expert opinion (e.g. business consultant) / statistics / surveys / research data etc depending on the focus of the essay.
        <br>It is useful to end the essay on a note of doubt. Suggest that the argument might have a valid point, but that more information would be needed to come to a specific conclusion.</p>

</div>

</div>
<br>
<div class="container">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>
