
<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/verbal">Verbal Section</a></li>
                                <li><a href="#/quant">Quant Section</a></li>
                                <li><a href="#/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/greinfo">GRE Basic Info</a></li>
                                <li><a href="#/practicetest">Practice Test</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/login">Log in</a></li>
                        <li><a href="#/register"><button type="button" class="btn btn-sm btn-primary">Sign Up</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div class="container">

    <div class="grid_13">
    <h1>Analyze an issue</h1>
    Follow our guidelines and use our format for a stress-free approach to writing a good GRE essay.</p>
    <h2>Guidelines</h2>
    <p>
        The Issue Task is presented as a statement or pair of statements about a topic. (The topics are straightforward and require no specialist knowledge.) Following the statement there will be a set of specific instructions telling you how to address the topic. No matter what the topic, the following points will apply:
    </p>
    <ul>
        <li>You will be expected to explain your position on an issue. You must justify your opinion of the topic under discussion with adequate reasoning. </li>
        <li>All the issue topics will have two sides.</li>
        <li>There is no "right" side: You have to decide your position on the topic after consideration of the pros and cons.</li>
        <li>Your position will usually be 80% in favor of one side.</li>
        <li>Always spend about 5 minutes thinking and planning. (Draw up a table of points before deciding which side will make the most persuasive essay.)</li>
        <li>Always use specific examples to support your point of view.</li>
        <li>You will need to look at the topic in a holistic way to show that you are aware of the implications of the different positions on the topic.</li>
        <li>You will need to read the specific instructions carefully to make sure your response aligns well with the directions.</li>
    </ul>
    <h2>Format of your essay</h2>
    <p>
        Although there is no specific format that the examiners require, it is in your interest to work out the kind of approach that works best for you. Since you have only 30 minutes to plan and write the essay, you have no time to experiment with novel formats once you get to the examination. During your preparation you should write several essays (from the official <a href="http://www.ets.org/gre/revised_general/prepare/analytical_writing/issue/pool">pool of topics</a>) so that you know exactly how to structure your response for each of the six standard sets of instructions.
    </p>
    <p>
        We suggest that essays of this type need a general introduction and a general ending. The ï¿½middleï¿½ of the essay should consist of three or four paragraphs that develop your reasoning on the topic with the aid of specific examples wherever possible. During the course of your essay you will have to cover points that support your position and also points that challenge your position.  It is often best to deal with the side that you favor before dealing with ideas that might challenge your position.
    </p>
    <p>
        The following general format keeps these points in mind. We suggest you make a similar format of your own for each of the six sets of instructions that GRE uses.
    </p>
    <h3>Part I - Introduction</h3>
    <p>
        Write an introduction explaining in your own words what the issue is about. Try to generate interest in the topic under discussion, and make it clear why the topic is controversial. End your paragraph with a <strong>thesis</strong> statement. (<em>A thesis statement is a clear summation of your point of view</em>.) Remember that the position you take must be a reasonable one and not too dogmatic.</p>
    <h3>Part II - The body of the essay</h3>
    <p>Write 2-3 paragraphs to support your position. Each paragraph should introduce <strong>one point</strong>. Explain the point and give a <strong>specific example</strong> wherever possible. You can also give reasons why the point is important or relevant. Be sure to give connecting words and phrases (<em>links</em>) at the beginning of each paragraph to give a sense of logical flow.</p>
    <h3>Part III - Qualification</h3>
    <p>Since the issue is never entirely black or white, you do not want to sound too dogmatic, and so you "qualify"  (moderate) your position (<em>i.e. you usually explain that under certain circumstances the other side of the issue might be correct</em>). This may involve a sentence beginning with "but" or "however"...</p>
    <h3>Part IV - Conclusion</h3>
    <p>You cannot leave the essay without reinforcing your thesis. If you have introduced a qualification into your argument, you will need to draw the essay back to your thesis. Try to avoid simply repeating what you have said; find something general to say that makes it clear that you have finished.</p>
    <h4>More essay writing tips</h4>
    <ul>
        <li>The introduction and the conclusion can be very general, but the body of the essay must be specific.</li>
        <li>Do not give a long list of examples all illustrating the same point. Stick to the one point-one example method.</li>
        <li>The examples can be from your own experience or from your reading or knowledge of current affairs, history etc.</li>
        <li>Good vocabulary is an asset, but don't use long words if you are not sure of the meaning.</li>
    </ul>
</div>

</div><br>
<div class="container">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>
