
<!-- NAVBAR
================================================== -->

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/verbal">Verbal Section</a></li>
                                <li><a href="#/quant">Quant Section</a></li>
                                <li><a href="#/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/greinfo">GRE Basic Info</a></li>
                                <li><a href="#/practicetest">Practice Test</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/login">Log in</a></li>
                        <li><a href="#/register"><button type="button" class="btn btn-sm btn-primary">Sign Up</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div class="grid_13">
    <header>
        <h1>GRE Sentence Equivalence</h1>
    </header>
    <section class="entry">
        <p>&nbsp;</p>
        <p>Sentence Equivalence questions have vague instructions (“select exactly two words that best complete the
            sentence and produce sentences that are alike in meaning”): even though the Revised GRE has debuted, many
            are still scratching their heads, wondering what the difference is between synonymous sentences and
            synonyms.</p>
        <p>Even if a Sentence Equivalence question is straightforward,&nbsp;you may suddenly find yourself &nbsp;unsure
            of how to proceed. What if three answer choices work? Two of them are synonyms, and one of them isn’t. You
            feel, however, that one of the synonyms somewhat works in the sentence, but the one lone word that does not
            have a synonym amongst the answer choices works even better. What, then, is the answer?</p>
        <p>Here are some good strategies for dealing with Sentence Equivalence questions:</p>
        <ul>
            <li>Always look for synonyms.</li>
            <li>If you can’t find any synonyms amongst the answer choices, given you know the definition of every word,
                then the correct answers will be non-synonyms.
            </li>
            <li>If you do not know a few of the words, do not just pick two words because they create synonymous
                sentences.
            </li>
            <li>Choose a word you do not know, and match it with one of the answer choices that work.</li>
            <li>If the above sounds like a gamble, that’s because approaching Sentence Equivalence, in terms of
                guessing, is so complex, at least compared to the old GRE’s one in five answer choices. Essentially, you
                will want to do anything to increase the odds of guessing correctly. And, to do so, the steps above will
                be your most helpful strategy.
            </li>
        </ul>
    </section>

<hr class="featurette-divider">
    <a href="#/sep"><button type="button" class="btn btn-lg btn-info">Practice Now >></button></a>

</div>

<div class="container">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>
