
<!-- NAVBAR
================================================== -->

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/verbal">Verbal Section</a></li>
                                <li><a href="#/quant">Quant Section</a></li>
                                <li><a href="#/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/greinfo">GRE Basic Info</a></li>
                                <li><a href="#/practicetest">Practice Test</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/login">Log in</a></li>
                        <li><a href="#/register"><button type="button" class="btn btn-sm btn-primary">Sign Up</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div style="background-color: #dddddd">

<div class="container">

    <div class="grid_13">
    <header>
        <h1>GRE Text Completion</h1>
    </header>

    <section class="entry">
        <p>A text completion is one of the new question types on the GRE. It is similar to a sentence completion, but
            has a few important differences. For one, there can be multiple sentences in a&nbsp;text completion. In
            fact, the question may sometimes run on for an entire paragraph. That’s because some have as many as three
            blanks.</p>
        <p>The other important difference is that each blank only has three possible answer choices, but you have to get
            all three correct in order to get the question correct (that amounts to a 1 in 27 chance in guessing).</p>
        <p>Now that we know our enemy, below are five important strategies you should follow if you want to do well on
            text completions:</p>
        <p><strong>1.&nbsp;</strong><strong>Don’t Dive In</strong></p>
        <p>Read the entire stem first. The reason for this strategy is that the &nbsp;first blank is often ambiguous,
            unless you have read the entire paragraph.</p>
        <p><strong>2.&nbsp;</strong><strong>Breaking Down the Text Completion</strong></p>
        <p>Text Completions are sometimes a paragraph long, so it is&nbsp;easy to get lost in them. A great strategy is
            trying to understand the big picture. Breaking down the paragraph in your own words&nbsp;(paraphrasing the
            paragraph) will help you get a grasp on what the sentences are talking about. Then you’re ready for step
            #3.</p>
        <p><strong>3.&nbsp;</strong><strong>Use Your Own Words</strong></p>
        <p>Here, we’re on familiar footing. Much like the sentence completions and the&nbsp;<a
                href="http://magoosh.com/gre/2011/ready-for-a-new-question-type-on-the-revised-gre/">sentence
            equivalence questions</a>, we want to use the strategy of putting in our own word(s) in the blank or blanks.
            To do so, you must always justify your answers not just on the context, but some of the specific words or
            phrases in the sentence itself. I’ve commonly referred to these word(s) as&nbsp;<a
                    href="http://magoosh.com/gre/2011/can-you-spot-the-signpost/">the clue</a>.</p>
        <p><strong>4.&nbsp;</strong><strong>The Second (or Third) Blank First</strong></p>
        <p>Because the first blank is difficult to deal with, first try finding a word for the second or third blank.
            Then work your way backwards to the first blank. The caveat—this technique only applies if you can come up
            with a word for the second or third blank. If you can’t, then work with the first blank.</p>
        <p><strong>5.&nbsp;</strong><strong>Use the Entire Text Completion as Context</strong></p>
        <p>When you’ve finally chosen your two/three answers, plug them back into the blanks. Does the completed
            sentence make sense with how you earlier paraphrased it?</p>
    </section>

    <hr class="featurette-divider">
        <a href="#/login" onClick="alert('You Need to Sign In to practice exam.');">
        <button type="button" class="btn btn-lg btn-info">Practice Now >></button>
    </a>

</div>
    <br><br><br><br><br><br><br>

</div><br>
<div class="container">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div><br><br>
</div>