<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>GRE CHAMP</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="../../css/carousel.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../homepage.view.client.html">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="../homepage.view.client.html">Home</a></li>
                        <li><a href="../general/testimonials.view.client.html">Testimonials</a></li>
                        <li><a href="../general/about.view.client.html">About</a></li>
                        <li><a href="../general/contact.view.client.html">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../verbal/verbal.view.client.html">Verbal Section</a></li>
                                <li><a href="../quant/quant.view.client.html">Quant Section</a></li>
                                <li><a href="../awa/awa.view.client.html">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="../general/greinfo.view.client.html">GRE Basic Info</a></li>
                                <li><a href="../general/practicetest.view.client.html">Practice Test</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="../user/login.view.client.html">Log in</a></li>
                        <li><a href="../user/register.view.client.html">
                            <button type="button" class="btn btn-sm btn-primary">Sign Up</button>
                        </a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>


<div id="content-section" class="grid_13">
    <h1>GRE Text Completion Practice Set</h1>
    <form name="TEST" action="text_completion_mark.php" method="POST">
        <input type="hidden" name="testid" value="T001">
        <p>
            <strong>1.</strong> With his sub-four minute mile Bannister broke a psychological barrier, and inspired thousands of others to attempt to overcome seemingly ____ hurdles.</p>
        <p><input type="RADIO" name="1-1" value="A">A. insurmountable
            <br><input type="RADIO" name="1-1" value="B">B. inane
            <br><input type="RADIO" name="1-1" value="C">C. trivial
            <br><input type="RADIO" name="1-1" value="D">D. traumatic
            <br><input type="RADIO" name="1-1" value="E">E. ineffable
        </p>
        <p>
            <strong>2.</strong> Ricks has written extensively not only on the poetry of such (i)____ figures in English poetry as Milton and Housman, but also on the less obviously (ii)____ lyrics of Bob Dylan.</p>
        <p>
        </p><table class="tc"><tbody><tr>
        <td>Blank (i)<br>
            <input type="RADIO" name="2-1" value="A">A. obscurantist
            <br><input type="RADIO" name="2-1" value="B">B. arcane
            <br><input type="RADIO" name="2-1" value="C">C. established
        </td>
        <td>Blank (ii)<br>
            <input type="RADIO" name="2-2" value="D">D. canonical
            <br><input type="RADIO" name="2-2" value="E">E. popular
            <br><input type="RADIO" name="2-2" value="F">F. judicious
        </td>
    </tr></tbody></table>
        <p></p>
        <p>
            <strong>3.</strong> People who seek advice from (i)____ often find that what they are told can seem true, because these seekers of information attribute significance to some predictions and ignore others. The mind seeks to make sense of predictions that, in themselves, have no (ii)____ value, and thus it becomes difficult to prove that the forecasts are (iii)____ .</p>
        <p>
        </p><table class="tc"><tbody><tr>
        <td>Blank (i)<br>
            <input type="RADIO" name="3-1" value="A">A. experts
            <br><input type="RADIO" name="3-1" value="B">B. philosophers
            <br><input type="RADIO" name="3-1" value="C">C. clairvoyants
        </td>
        <td>Blank (ii)<br>
            <input type="RADIO" name="3-2" value="D">D. special
            <br><input type="RADIO" name="3-2" value="E">E. general
            <br><input type="RADIO" name="3-2" value="F">F. legal
        </td>
        <td>Blank (iii)<br>
            <input type="RADIO" name="3-3" value="G">G. genuine
            <br><input type="RADIO" name="3-3" value="H">H. specious
            <br><input type="RADIO" name="3-3" value="I">I. accurate
        </td>
    </tr></tbody></table>
        <p></p>
        <p>
            <strong>4.</strong> Stress-induced amnesia is a rare and (i)____ phenomenon; it strikes the patient apparently without warning and the memory loss can be as (i)____ as that induced by (iii)____ trauma.</p>
        <p>
        </p><table class="tc"><tbody><tr>
        <td>Blank (i)<br>
            <input type="RADIO" name="4-1" value="A">A. devastating
            <br><input type="RADIO" name="4-1" value="B">B. venial
            <br><input type="RADIO" name="4-1" value="C">C. pervasive
        </td>
        <td>Blank (ii)<br>
            <input type="RADIO" name="4-2" value="D">D. generic
            <br><input type="RADIO" name="4-2" value="E">E. limited
            <br><input type="RADIO" name="4-2" value="F">F. complete
        </td>
        <td>Blank (iii)<br>
            <input type="RADIO" name="4-3" value="G">G. unexpected
            <br><input type="RADIO" name="4-3" value="H">H. mental
            <br><input type="RADIO" name="4-3" value="I">I. physical
        </td>
    </tr></tbody></table>
        <p></p>
        <p>
            <strong>5.</strong> The publishers, unwilling to (i)____ the entire risk, insisted that the author pay half the cost of the initial print run of his (ii)____ new book.</p>
        <p>
        </p><table class="tc"><tbody><tr>
        <td>Blank (i)<br>
            <input type="RADIO" name="5-1" value="A">A. hedge
            <br><input type="RADIO" name="5-1" value="B">B. shoulder
            <br><input type="RADIO" name="5-1" value="C">C. mitigate
        </td>
        <td>Blank (ii)<br>
            <input type="RADIO" name="5-2" value="D">D. unexceptionable
            <br><input type="RADIO" name="5-2" value="E">E. controversial
            <br><input type="RADIO" name="5-2" value="F">F. jaundiced
        </td>
    </tr></tbody></table>
        <p></p>
        <p>
            <strong>6.</strong> Science advances (i)____ as (ii)____ change abruptly and we are forced to stop and reorient ourselves to view old information in new ways.</p>
        <p>
        </p><table class="tc"><tbody><tr>
        <td>Blank (i)<br>
            <input type="RADIO" name="6-1" value="A">A. exponentially
            <br><input type="RADIO" name="6-1" value="B">B. inexorably
            <br><input type="RADIO" name="6-1" value="C">C. jerkily
        </td>
        <td>Blank (ii)<br>
            <input type="RADIO" name="6-2" value="D">D. paradigms
            <br><input type="RADIO" name="6-2" value="E">E. axioms
            <br><input type="RADIO" name="6-2" value="F">F. continuities
        </td>
    </tr></tbody></table>
        <p></p>
        <p>
            <strong>7.</strong> The game of chess is an example of a ___ information system: the pieces sit inertly on the board until the players move them according to known rules.</p>
        <p><input type="RADIO" name="7-1" value="A">A. interactive
            <br><input type="RADIO" name="7-1" value="B">B. passive
            <br><input type="RADIO" name="7-1" value="C">C. cybernetic
            <br><input type="RADIO" name="7-1" value="D">D. disruptive
            <br><input type="RADIO" name="7-1" value="E">E. logistic
        </p>
        <p>
            <strong>8.</strong> A highly intelligent person often thinks (i)____; a few snippets of information can trigger a (ii)____ conclusion that might not stand up to closer, and (iii)____, scrutiny.</p>
        <p>
        </p><table class="tc"><tbody><tr>
        <td>Blank (i)<br>
            <input type="RADIO" name="8-1" value="A">A. too deeply
            <br><input type="RADIO" name="8-1" value="B">B. too warily
            <br><input type="RADIO" name="8-1" value="C">C. too quickly
        </td>
        <td>Blank (ii)<br>
            <input type="RADIO" name="8-2" value="D">D. firm
            <br><input type="RADIO" name="8-2" value="E">E. labored
            <br><input type="RADIO" name="8-2" value="F">F. hasty
        </td>
        <td>Blank (iii)<br>
            <input type="RADIO" name="8-3" value="G">G. slower
            <br><input type="RADIO" name="8-3" value="H">H. precipitous
            <br><input type="RADIO" name="8-3" value="I">I. overt
        </td>
    </tr></tbody></table>
        <p></p>
        <p>
            <strong>9.</strong> Major philosophical (i)____ about morality, identity and rationality, for example, can often be (ii)____ by thought experiments: short and simple expositions that pose an abstract and complex problem in a concrete manner with all the (iii)____ factors removed.</p>
        <p>
        </p><table class="tc"><tbody><tr>
        <td>Blank (i)<br>
            <input type="RADIO" name="9-1" value="A">A. certitudes
            <br><input type="RADIO" name="9-1" value="B">B. dilemmas
            <br><input type="RADIO" name="9-1" value="C">C. dogmas
        </td>
        <td>Blank (ii)<br>
            <input type="RADIO" name="9-2" value="D">D. mimicked
            <br><input type="RADIO" name="9-2" value="E">E. illuminated
            <br><input type="RADIO" name="9-2" value="F">F. evoked
        </td>
        <td>Blank (iii)<br>
            <input type="RADIO" name="9-3" value="G">G. extraneous
            <br><input type="RADIO" name="9-3" value="H">H. inherent
            <br><input type="RADIO" name="9-3" value="I">I. pivotal
        </td>
    </tr></tbody></table>
        <p></p>
        <p>
            <strong>10.</strong> All good comic writers use humor to ____, not to side-step the problems of human behavior.</p>
        <p><input type="RADIO" name="10-1" value="A">A. amuse
            <br><input type="RADIO" name="10-1" value="B">B. avert
            <br><input type="RADIO" name="10-1" value="C">C. juxtapose
            <br><input type="RADIO" name="10-1" value="D">D. confront
            <br><input type="RADIO" name="10-1" value="E">E. solve
        </p>
        <p><input type="SUBMIT" value="SUBMIT"></p>
    </form>
</div>

<div class="container">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>