
<!-- NAVBAR
================================================== -->

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/verbal">Verbal Section</a></li>
                                <li><a href="#/quant">Quant Section</a></li>
                                <li><a href="#/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/login">Log in</a></li>
                        <li><a href="#/register"><button type="button" class="btn btn-sm btn-primary">Sign Up</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div style="background-color: #dddddd">
<div class="container" >

    <div id="content-section" class="grid_13" >
    <h1>GRE Verbal</h1>
    <p>The verbal reasoning section of the GRE contains questions of three types:</p>
    <ul>
        <li><a href="#/se">Sentence Equivalence</a></li>
        <li><a href="#/tc">Text Completion</a></li>
        <li><a href="#/rc">Reading Comprehension</a></li>
    </ul>
    <p >A good vocabulary is essential for the Text Completion and Sentence Equivalence questions which account for approximately 50% of the questions in this section.
        We recommend that you learn our word lists before starting the minitests. Then the minitests will reinforce the words that you have learned.
        Another approach is to do the minitests and write down all the difficult words you encounter, look up the meanings and learn.Think of the GRE verbal section as vocabulary on steroids. You won’t just be assailed by words like scurrilous, incorrigible, and portentous; these words will oftentimes be embedded in sentences that are so opaque they seemed to have jumped out of a philosophy dissertation (indeed a reading passage may be just that).
        <br><br>
        The first question type you will see is a Text Completion (TC). They are those fill-in-the-blank sentences, you may have seen before. However, with the new GRE, the writers have really outdone themselves. Not only will you have a one-blank sentence, in which you have to choose which vocabulary best fits the blank, but you also can have as many as three-blanks, which can be all packed into one sentence or, more diabolically still, spread out over an entire paragraph.

        A variant on the Text Completion is the Sentence Equivalence question. The good news is there will only be one sentence and one blank. The bad news is you have to choose two out of six answer choices. Sorry, no partial credit (which also goes for the TC questions).

        Finally, half of the test will be comprised of questions that pertain to a specific reading passage. The reading passages can be as long as 450 words or slightly less than 100 words long. The passages are drawn from a variety of fields—science, literary critique, social sciences, etc.—and run the gamut from relatively challenging to forbiddingly dense.</p>
    <p>The answers are not your friends. I know that sounds weird, but in the middle of the test, with our pulse racing, our palms sweating, we dive into the answer choices, as soon as we read the question, without taking a moment to stop and think.

        The answer choices are your enemies. They call out seductively, “Hey, pick me – I sound so right.” And the more you read through an answer choice that ETS has spent time expertly crafting, the more you convince yourself that it must be the answer.
        <br><br>
        So again – think. In fact, look away from the screen, lest you be seduced. For example, it’s so easy on Text Completions to start plugging vocabulary words into the blank, and seeing how the word sounds. The test writers haven’t chosen random words as the wrong answers; the words are chosen for maximum seduction. Instead, cover up those sirens of standardized testing with your hand, and think, after reading the sentence, what word best fits in the blank. Then–and only then–match up your word with the correct answer choice.

        For Reading Comprehension, read the question and go back to the passage. Find the part of the passage that best answers the question. Next read the question again and try to put the answer in your own words. Only then, should you look at the answer. This process may sound straightforward, but try it out. As soon as you read a Reading Comprehension question your eyes will feel this irresistible tug downwards into what you think is the safe haven of the answer choices. Learn not to be lulled.Our Word Focus ebook has been designed to help you learn vocabulary more effectively. You will find the synonym section of this book particularly helpful for Text Completion questions.</p>
        <p><strong>All the words on our minitests are commonly used by GRE examiners.</strong></p>

</div>

</div>

<div class="container">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>
</div>