
<!-- NAVBAR
================================================== -->

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/verbal">Verbal Section</a></li>
                                <li><a href="#/quant">Quant Section</a></li>
                                <li><a href="#/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/greinfo">GRE Basic Info</a></li>
                                <li><a href="#/practicetest">Practice Test</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/login">Log in</a></li>
                        <li><a href="#/register"><button type="button" class="btn btn-sm btn-primary">Sign Up</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>


<div id="content-section" class="grid_13">
    <h1>GRE Verbal</h1>
    <p>The verbal reasoning section of the GRE contains questions of three types:</p>
    <ul>
        <li><a href="#/se">Sentence Equivalence</a></li>
        <li><a href="#/tc">Text Completion</a></li>
        <li><a href="#/rc">Reading Comprehension</a></li>
    </ul>
    <p >A good vocabulary is essential for the Text Completion and Sentence Equivalence questions which account for approximately 50% of the questions in this section.
        We recommend that you learn our <a href="wordlist.php">word lists</a> before starting the minitests. Then the minitests will reinforce the words that you have learned.
        Another approach is to do the minitests and write down all the difficult words you encounter, look up the meanings and learn.</p>
    <p>Our <a href="/word-focus/">Word Focus</a> ebook has been designed to help you learn vocabulary more effectively. You will find the synonym section of this book particularly helpful for Text Completion questions.</p>
    <p><strong>All the words on our minitests are commonly used by GRE examiners.</strong></p>
    <h2>Practice tests</h2>
    Our free practice tests cover each type of question you will encounter in the GRE verbal reasoning section. Do a test now:
    <ul>
        <li>5 <a href="sentence_equivalence.php">Sentence Equivalence Practice Tests</a></li>
        <li>10 <a href="sentence_completion.php">Text Completion Practice Tests</a></li>
        <li>7 <a href="reading_comprehension.php">Reading Comprehension Practice Tests</a></li>
    </ul>
</div>

<div class="container">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>
