
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name"
                   type="text"
                   class="form-control"
                   id="name">
        </div>
        <div class="form-group">
            <label for="title">Text</label>
            <input ng-model="model.widget.text"
                   type="text"
                   id="title"
                   class="form-control"
                   placeholder="">
        </div>
        <div class="form-group">
            <label for="URL">URL</label>
            <input ng-model="model.widget.url"
                   type="url"
                   class="form-control"
                   id="URL"
                   placeholder="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjF6Mukq-nMAhVPpIMKHYM6BKAQjRwIBw&url=http%3A%2F%2Fwww.missmalini.com%2Fcontest%2Fall-things-nice-pali-village-cafe-win-a-free-dinner-for-2-now%2F&psig=AFQjCNEFoiGunTlbrBP6ZrAcIXfAxZAy7Q&ust=1463857230519131">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width"
                   type="text"
                   id="width"
                   class="form-control"
                   placeholder=" 100%">
        </div>
        <div class="form-group">
            <label for="upload">Upload</label>
            <input ng-model="model.widget.upload"
                   type="file"
                   id="upload"
                   class="form-control"
                   placeholder="">
        </div>
    </form>
    <a class="btn btn-primary  btn-block"
       href="#">Upload Image</a>
    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget()">Delete</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
