
<!--Pearson key-->
<!--Consumer Key: 41qHzuGLY9YEr8F6zmvN7FWQOanqUQzV-->
<!--Consumer Secret: IAdFqnA2VzUgRh8z-->

<!--Your Quizlet Client ID (used for public and user access):
eB8UExXvN3

Your Secret Key (used for user authentication only):
KVSVXxVxdVPGeZe6jqQ35e (reset)
Your Redirect URI:
http://webdev-kulkarni.rhcloud.com/ (double-click to edit) -->

<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper" xmlns:text-align="http://www.w3.org/1999/xhtml">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/homepage">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/homepage">Home</a></li>
                        <li><a href="#/testimonials">Testimonials</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">GRE HUB <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/verbal">Verbal Section</a></li>
                                <li><a href="#/quant">Quant Section</a></li>
                                <li><a href="#/awa">AWA Section</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/greinfo">GRE Basic Info</a></li>
                                <li><a href="#/practicetest">Practice Test</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li><a href="#/login">Log in</a></li>
                        <li><a href="#/register"><button type="button" class="btn btn-sm btn-primary">Sign Up</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>


<!-- Carousel
================================================== -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
            <div class="container">
                <div class="carousel-caption">

                    <div class="input-group">
                        <input ng-model="searchText"
                               type="text"
                               class="form-control">
            <span class="input-group-btn">
                <a ng-click="model.searchWords(searchText)"
                   class="btn btn-default"
                   type="button">
                    <span class="glyphicon glyphicon-search">
                    </span>
                </a>
            </span>
                    </div>
                    <h3 style="color:#c4c4c4">{{model.definition}}</h3>

                    <h1>GRE CHAMP</h1>
                    <p>We have a flashcard generator tool which you can use to create your own wordlist. Click below to generate a flashcard.</p>
                    <p><a class="btn btn-lg btn-primary" href="#/pearson" role="button">Learn a word today!!</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>We will make you a Champ!!</h1>
                    <p> Use the menu on the top to get more information about the test sections, or choose a question type and do a test now.</p>
                    <p><a class="btn btn-lg btn-primary" href="#/about" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Be a GRE CHAMP</h1>
                    <p>We have sample GRE practice test arranged into respective sections along with the exam format. Each mini test has a score card at the end.</p>
                    <p><a class="btn btn-lg btn-primary" href="#/register" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div style="background-color: #cccccc;padding-top: 40px" >

    <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-square" ng-src="http://gradestack.com/blogs/wp-content/uploads/2014/07/quant.jpg" alt="Generic placeholder image" width="140" height="140"/>
            <h2>Quant</h2>
            <p></br>The Quantitative aptitude section of the GRE contains 20 questions (35 mins) which of three types:</br>
           <u><b><a href="#/ps">Multiple choice problem solving </br></a>
               <a href="#/ne">Numeric entry</br></a>
               <a href="#/qc">Quantitative comparisons</br></a></b></u>
            You may be tested on basic arithmetic, algebra, geometry and a few miscellaneous topics (mainly data interpretation and applied math).</p>
            <p><a class="btn btn-default" href="#/quant" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-square" ng-src="http://www.dilipoakacademy.com/blog/wp-content/uploads/2012/03/Vocab-2-Black-Red.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Verbal</h2>
            <br>The verbal reasoning section of the GRE contains 20 questions (30 mins) per section which of three types:</br>
            <u><b> <a href="#/se"> Sentence Equivalence </a></br>
                <a href="#/tc">Text Completion</a></br>
                <a href="#/rc">Reading Comprehension</a></br></b></u>
            A good vocabulary is essential for the Text Completion and Sentence Equivalence questions which account for approximately 50% of the questions in this section.</p>
            <p><a class="btn btn-default" href="#/verbal" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-square" src="http://usgraduatesblog.com/wp-content/uploads/2013/02/GRE-AWA-Tackling.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>AWA</h2>
            <br>GRE sets two writing tasks collectively called the Analytical Writing Section which of two types: </br>
            <u><b><a href="#/issue"> Analyze an Issue</a></br>
                    <a href="#/argument"> Analyze an Argument</a><br></b></u>
                The tasks are designed to test critical thinking and analytical writing skills. The essays come first on the test - 30 minutes for the issue and 30 minutes for the argument.</p>
            <br><p><a class="btn btn-default" href="#/awa" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->


    <hr class="featurette-divider">

    <div class="row featurette" style="background: rebeccapurple">
        <div class="col-md-6 down-30">
            <h3 style="color:black">Prepare with our top-quality materials</h3>
            <p style="color:  black;">
                We’re here to help you improve as fast as possible. With GRE CHAMP, you’ll always be studying with the most updated, tried-and-tested materials, based on careful analysis of millions of students’ answers. We don’t overwhelm you with questions; we make every question count!
                <br><br>
                You can also take notes, bookmark, read transcripts, and give us feedback. We give you everything you need to make studying a breeze.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="http://englisheverywhere.org/wp-content/uploads/2014/09/privatelesson3.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" style="background: limegreen">
        <div class="col-md-7 col-md-push-5">
            <h3 style="color:black">Abundant practice tests and study resources</h3>
            <p style="color:  black;">
                This course delivers all the prep tools you need to study on your own. Learn at your own pace and on your own time, whether it's during lunch or late into the evening. All your lessons, drills and practice tests are online, ready for you whenever you want to use them.<br><br>
                You can also take notes, bookmark, read transcripts, and give us feedback. We give you everything you need to make studying a breeze.
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="http://jntuforum.com/files/Articles/8/2.png" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider" >

    <div class="row featurette" style="background: saddlebrown">
        <div class="col-md-7" >
            <h3 style="color:black">Full satisfaction guarantee</h3>
            <p style="color:  black;">
                As a GRE CHAMP on-site or online student, you are entitled to repeat your course for any reason at no extra charge. If you don't feel fully prepared after your first course attempt, re-enroll immediately. If you take the GRE after completing a course and you're unhappy with your score, re-enroll in your course to get more training for free. In order to take advantage of this guarantee, you must attend all course sessions, complete all homework assignments, and finish all assigned practice tests during your initial course attempt. <br><br>
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block pull-right" src="http://www.kensingtonacademy.com/assets/EXAM-PREPARATION.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="">Privacy</a> &middot; <a href="">Terms</a></p>
    </footer>

</div><!-- /.container -->

</div>
